.main {
  display: grid;
  height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;

  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "addP addP sel"
    "listA listB listT";
}

.leftCenterTop {
  text-align: center;

  grid-area: addP;
}

.rightTop {
  grid-area: sel;
  text-align: center;
}

.leftBottem {
  grid-area: listA;

  text-align: left;
}
.centerBottem {
  grid-area: listB;
  text-align: left;
}
.rightBottem {
  grid-area: listT;

  text-align: left;
}
